# Dependencies
node_modules/
proxy/node_modules/

# Build output
dist/

# Environment variables (NEVER commit these)
.env
.env.local
.env.production
proxy/.env
proxy/.env.local
*.key
nepse_export.txt
export_app.py
run_this_first.py


# Capacitor / Android
android/
.DS_Store

.vercel
